@font-face {
  font-family: 'lg';
  src: url('../font/lg.woff2') format('woff2'),
    url('../font/lg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

.banner {
  padding-bottom: 100px;
  position: relative;
  background-color: var(--color-2);
}

.banner .subtitle {
  margin-top: 80px;
  text-align: center;
}

.banner .banner-name {
  display: flex;
  justify-content: center;
}

.banner .banner-name .wrap {
  width: 691px;
}

.banner .banner-name h2 {
  font-size: 130px;
  margin-bottom: 0;
}

.banner .banner-name h2:last-child {
  display: flex;
  align-items: center;
}

.banner .banner-name h2:last-child .plus {
  display: inline-block;
  margin: 0 80px 0 64px;
}

.banner .banner-date {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.banner .banner-icon img {
  position: absolute;
}

.banner .banner-icon .icon-1 {
  top: 65%;
  left: 20%;
}

.banner .banner-icon .icon-2 {
  top: 60%;
  right: 14%;
}

.banner .banner-icon .icon-3 {
  right: 25%;
  top: 37%;
}

.about {
  padding: 200px 0;
  background-color: var(--color-3);
}

.about .about-info {
  position: relative;
}

.about .about-info > * {
  color: var(--color-2);
}

.about .about-info h4 {
  font-size: 28px;
}

.about .about-info p {
  font-size: 18px;
}

.about .about-image {
  position: relative;
}

.about .about-image img.avt {
  width: 499px;
  height: 356px;
  border: 13px solid #fff;
  object-fit: cover;
  z-index: 10;
  position: relative;
}

.about-bride {
  margin-bottom: 50px;
}

.about-bride .bride-avatar img.avt {
  margin-top: 1%;
  transform: rotateZ(-5deg);
}

.about-bride .bride-avatar .border-avt {
  position: absolute;
  z-index: 0;
  top: 5px;
  width: 535px;
  height: 480px;
  left: -8.5%;
}

.about-bride .bride-avatar .dress-icon {
  position: absolute;
  top: -90px;
  left: -165px;
  z-index: 11;
  width: 30%;
  transform: rotate(-13deg);
}

.about-bride .about-info .arrow-top {
  position: absolute;
  top: -160px;
  left: -150px;
}

.about-bride .about-info .arrow-top-mb {
  display: none;
}

.about-groom {
  position: relative;
}

.about-groom .rings-icon {
  position: absolute;
  top: 0;
  left: 36%;
}

.about-groom .about-info h4 {
  margin-top: 100px;
}

.about-groom .groom-avatar img.avt {
  margin-top: 7%;
  transform: rotateZ(3.5deg);
}

.about-groom .groom-avatar .border-avt {
  position: absolute;
  width: 545px;
  height: 480px;
  z-index: 0;
  top: 0;
  right: 15%;
  margin-top: 5%;
}

.about-groom .groom-avatar .vest-icon {
  position: absolute;
  width: 30%;
  z-index: 10;
  right: -4%;
  top: 65%;
}

.about-groom .about-info .arrow-bottom {
  position: absolute;
  left: 74%;
  bottom: -24px;
  width: 40%;
  z-index: 100;
}

.gallery {
  padding: 50px 0;
  background-color: var(--color-4);
}

.gallery-wrap p.title {
  font-size: 35px;
  text-align: center;
}

#gallery-image {
  display: grid;
  gap: 15px;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

#gallery-image .gallery-item {
  display: inline-block;
}

#gallery-image .gallery-item:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.event {
  position: relative;
  padding: 100px 0 300px;
  background-color: var(--color-2);
}

.event p.title {
  font-size: 35px;
  text-align: center;
}

.event-main {
  margin-top: 60px;
  position: relative;
}

.event-main::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 35px;
  height: 100%;
  width: 2px;
  background-color: var(--color-1);
  transform: translateX(-50%);
}

.event-item {
  display: flex;
  position: relative;
}

.event-item .event-time,
.event-item .event-content {
  width: 50%;
}

.event-item .event-time {
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
}

.event-item .event-time .event-time__wrap {
  width: 160px;
}

.event-item .event-time .event-time__wrap p {
  font-size: 26px;
}

.event-item .event-icon {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: var(--color-1);
  border-radius: 50%;
  left: 50%;
  z-index: 1;
  top: 33px;
  transform: translateX(-50%);
}

.event-item .event-icon::after {
  content: '';
  position: absolute;
  width: 140px;
  height: 1px;
  top: 5px;
  left: -65px;
  background-color: var(--color-1);
}

.event-item .event-content {
  padding-left: 105px;
}

.event-item .event-content h1 {
  text-shadow: -2px 2px 0px rgba(28, 28, 28, 0.25);
}

.event-item .event-content a,
.event-item .event-content p {
  font-size: 20px;
}

.event-item .event-content a {
  color: var(--color-1);
}

.event-main .heart-icon {
  font-size: 50px;
  color: var(--color-1);
  position: absolute;
  bottom: -82px;
  left: 50%;
  transform: translateX(-50%);
}

.event-wrap img.icon {
  position: absolute;
}

.event-wrap img.icon-glass {
  left: 0;
  bottom: 172px;
}

.event-wrap img.icon-plate {
  bottom: 32px;
  left: 33%;
}

.event-wrap img.icon-cake {
  right: -4%;
  bottom: 150px;
}

.contact {
  padding: 60px 0;
  background-color: var(--color-3);
}

.contact-item:nth-child(2) .contact-content > *,
.contact-question p {
  color: var(--color-2);
}

.contact-item:nth-child(2) .contact-content h1 {
  font-size: 50px;
}

.contact-item:nth-child(2) .contact-content p {
  font-size: 20px;
}

.contact-question p {
  font-size: 18px;
}

.contact-question .btn {
  padding: 14px 24px;
  border: 0;
  border-radius: 5px;
  color: var(--color-3);
  background-color: var(--color-2);
}

.contact-question .btn:focus {
  border: 0;
}

#music-wedding {
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 25px;
}

#music-wedding img {
  width: 30px;
}

#yesModal .modal-dialog,
#noModal .modal-dialog {
  max-width: 650px;
}

#yesModal .modal-footer .register-link {
  padding: 14px 24px;
  border: 0;
  border-radius: 5px;
  color: var(--color-3);
  background-color: var(--color-2);
}

@media (max-width: 767.98px) {
  body {
    padding-right: 0 !important;
  }

  .banner .subtitle,
  .banner .banner-date {
    font-size: 25px;
  }

  .banner .banner-name h2 {
    font-size: 60px;
    text-align: center;
  }

  .banner .banner-name h2:last-child {
    flex-wrap: wrap;
  }

  .banner .banner-name h2:last-child .plus,
  .banner .banner-name h2:last-child .text {
    width: 100%;
  }

  .banner .banner-date {
    width: 100%;
    margin-top: 30px;
  }

  .banner .banner-icon .icon-1 {
    width: 10%;
    top: 79%;
    left: 7%;
  }

  .banner .banner-icon .icon-2 {
    width: 10%;
    top: 50%;
  }

  .banner .banner-icon .icon-3 {
    width: 10%;
    top: 18%;
    left: 75%;
  }

  .about .container {
    width: 80%;
  }

  .about .about-image img.avt {
    border: 7px solid #fff;
    width: 270px;
    height: 180px;
  }

  .about-bride .bride-avatar .border-avt {
    width: 300px;
    height: 200px;
    left: -30px;
    top: 10px;
  }

  .about-bride .bride-avatar .dress-icon {
    margin-top: 20%;
    left: -5%;
    transform: rotate(0deg);
  }

  .about .about-info {
    margin-top: 15%;
  }

  .about .about-info h4 {
    font-size: 18px;
  }

  .about .about-info h2 {
    font-size: 30px;
  }

  .about .about-info p {
    font-size: 14px;
  }

  .about-bride .about-info .arrow-top {
    display: none;
  }

  .about-bride .about-info .arrow-top-mb {
    display: block;
    width: 130px;
    transform: rotate(-50deg);
    position: absolute;
    top: -14%;
    left: 50%;
  }

  .about-groom .rings-icon {
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-groom .row {
    flex-direction: column-reverse;
  }

  .about-groom .about-info h4 {
    margin-top: 20px;
  }

  .about-groom .about-info .arrow-bottom {
    left: 50%;
    bottom: 54px;
    transform: rotate(-40deg);
  }

  .about-groom .groom-avatar img.avt {
    left: 22px;
    margin-top: 50%;
  }

  .about-groom .groom-avatar .border-avt {
    width: 300px;
    height: 200px;
    top: 140px;
    right: -14px;
  }

  #gallery-image {
    grid-template-columns: repeat(2, 1fr);
  }

  .event p.title {
    font-size: 28px;
  }

  .event-main::before {
    left: 37px;
    transform: none;
  }

  .event-item {
    flex-wrap: wrap;
  }

  .event-item .event-time {
    width: 100%;
    padding-left: 22%;
    padding-right: 0;
    justify-content: flex-start;
  }

  .event-item .event-time .event-time__wrap p {
    font-size: 13px;
    display: inline-block;
  }

  .event-item .event-icon {
    left: 38px;
  }

  .event-item .event-icon::after {
    width: 60px;
    left: 5px;
  }

  .event-item .event-content {
    width: 100%;
    padding-left: 22%;
  }

  .event-item .event-content h1 {
    font-size: 20px;
  }

  .event-item .event-content a,
  .event-item .event-content p {
    font-size: 14px;
  }

  .event-main .heart-icon {
    left: 13px;
    transform: none;
  }

  .event-wrap img.icon-glass {
    top: 87%;
    width: 20%;
    left: 0;
  }

  .event-wrap img.icon-plate {
    top: 80%;
    width: 20%;
    left: 45%;
  }

  .event-wrap img.icon-cake {
    top: 86%;
    width: 17%;
    right: 0;
  }

  .contact-item:first-child {
    display: none;
  }

  .contact-item:nth-child(2) .contact-content h1 {
    font-size: 45px;
  }

  .contact-item:nth-child(2) .contact-content p {
    font-size: 14px;
  }
}
