.banner {
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  background-color: var(--color-2);
}

.banner .subtitle {
  margin-top: 80px;
  text-align: center;
}

.banner .banner-name {
  display: flex;
  justify-content: center;
}

.banner .banner-name .wrap {
  width: 691px;
}

.banner .banner-name h2 {
  font-size: 130px;
  margin-bottom: 0;
}

.banner .banner-name h2:last-child {
  display: flex;
  align-items: center;
}

.banner .banner-name h2:last-child .plus {
  display: inline-block;
  margin: 0 80px 0 64px;
}

.banner .banner-date {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.banner .banner-icon img {
  position: absolute;
}

.banner .banner-icon .icon-1 {
  top: 65%;
  left: 20%;
}

.banner .banner-icon .icon-2 {
  top: 60%;
  right: 14%;
}

.banner .banner-icon .icon-3 {
  right: 25%;
  top: 37%;
}

.about {
  padding: 200px 0;
  background-color: var(--color-3);
}

.about .about-info {
  position: relative;
}

.about .about-info > * {
  color: var(--color-2);
}

.about .about-info h4 {
  font-size: 28px;
}

.about .about-info p {
  font-size: 18px;
}

.about .about-image {
  position: relative;
}

.about .about-image img.avt {
  width: 499px;
  height: 356px;
  border: 13px solid #fff;
  object-fit: cover;
  z-index: 10;
  position: relative;
}

.about-bride {
  margin-bottom: 50px;
}

.about-bride .bride-avatar img.avt {
  margin-top: 1%;
  transform: rotateZ(-5deg);
}

.about-bride .bride-avatar .border-avt {
  position: absolute;
  z-index: 0;
  top: 5px;
  width: 535px;
  height: 480px;
  left: -8.5%;
}

.about-bride .bride-avatar .dress-icon {
  position: absolute;
  top: -90px;
  left: -165px;
  z-index: 11;
  width: 30%;
  transform: rotate(-13deg);
}

.about-bride .about-info .arrow-top {
  position: absolute;
  top: -160px;
  left: -150px;
}

.about-groom {
  position: relative;
}

.about-groom .rings-icon {
  position: absolute;
  top: 0;
  left: 36%;
}

.about-groom .about-info h4 {
  margin-top: 100px;
}

.about-groom .groom-avatar img.avt {
  margin-top: 7%;
  transform: rotateZ(3.5deg);
}

.about-groom .groom-avatar .border-avt {
  position: absolute;
  width: 545px;
  height: 480px;
  z-index: 0;
  top: 0;
  right: 15%;
  margin-top: 5%;
}

.about-groom .groom-avatar .vest-icon {
  position: absolute;
  width: 30%;
  z-index: 10;
  right: -4%;
  top: 65%;
}

.about-groom .about-info .arrow-bottom {
  position: absolute;
  left: 74%;
  bottom: -24px;
  width: 40%;
  z-index: 100;
}
